<body onload="usuarioLogado()">
    <header class="sticky-top">

      <style>
        .personal-figure {
        width: 60px;
        height: 60px;
        }
        .personal-avatar {
          width: 60px;
          height: 60px;
        }
      </style>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand py-2" href="/" aria-label="Product">
            <img src="" id="logo" width="40" height="40">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="menu navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item py-2"><a class="nav-link text-white fs-5 text-md-center text-start" href="/agendamento">Agendamento</a></li>
              <li class="nav-item py-2"><a class="nav-link text-white fs-5 text-md-center text-start" href="/#fotos">Fotos</a></li>
              <li class="nav-item py-2"><a class="nav-link text-white fs-5 text-md-center text-start" href="/#footer">Empresa</a></li>
              <li class="nav-item py-2"><a class="nav-link text-white fs-5 text-md-center text-start" href="/#horarios">Horarios</a></li>
              <li class="nav-item py-2"><a class="nav-link text-white fs-5 text-md-center text-start" href="/#footer">Contatos</a></li>
            </ul>

            <div class="d-flex personal-image d-none" role="navigation" id="divPerfil">
              <label class="label">
                  <figure class="personal-figure">
                    <a class="nav-link text-white dropdown-toggle dropstart" href="#" id="dropTogle" role="button"
                        id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="/img/user.jpg" class="personal-avatar" id="imgCli" alt="avatar">
                    </a>
                    <ul class="dropdown-menu dropdown-menut dropdown-menu-dark"
                        aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item text-center" id="userNome">Usuario</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="/user/editar/">Editar</a>
                        </li>
                        <li>
                          <a class="dropdown-item" href="/user/reservas/">Historico</a>
                      </li>
                        <li id="isAdmin" class="d-none">
                            
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" id="aUsuarios" href="/user/logout">Sair</a></li>
                    </ul>
                  </figure>
              </label>
            </div>

            <div class="btn-group d-flex" id="divLogin">
              <a href="/user/login" class="btn btn-outline-success btn-sm">Login</a>
              <a href="/user/registrar" class="btn btn-primary ms-2 btn-sm">Cadastre-se</a>
            </div>
          </div>
          
          
        </div>
      </nav>
    </header>
    