<body onload="usuarioLogado()">
    <header class="sticky-top">

      <style>
        .personal-figure {
        width: 60px;
        height: 60px;
      }
      .personal-avatar {
        width: 60px;
        height: 60px;
      }
    </style>

      <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand py-2" href="#" aria-label="Product">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="d-block mx-auto" role="img" viewBox="0 0 24 24"><title>Product</title><circle cx="12" cy="12" r="10"/><path d="M14.31 8l5.74 9.94M9.69 8h11.48M7.38 12l5.74-9.94M9.69 16L3.95 6.06M14.31 16H2.83m13.79-4l-5.74 9.94"/></svg>
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="menu navbar-nav mx-auto mb-2 mb-lg-0">
              <li class="nav-item py-2"><a class="nav-link text-white fs-5 text-md-center text-start" href="/#agendamentos">Agendamento</a></li>
              <li class="nav-item py-2"><a class="nav-link text-white fs-5 text-md-center text-start" href="/#fotos">Fotos</a></li>
              <li class="nav-item py-2"><a class="nav-link text-white fs-5 text-md-center text-start" href="#">Empresa</a></li>
              <li class="nav-item py-2"><a class="nav-link text-white fs-5 text-md-center text-start" href="/#horarios">Horarios</a></li>
              <li class="nav-item py-2"><a class="nav-link text-white fs-5 text-md-center text-start" href="#">Contatos</a></li>
            </ul>
          </div>
          <div class="btn-group d-flex" id="divLogin">
            <a href="/user/login" class="btn btn-outline-success btn-sm">Login</a>
            <a href="/user/registrar" class="btn btn-primary ms-2 btn-sm">Cadastre-se</a>
          </div>

          <div class="d-flex personal-image d-none" role="navigation" id="divPerfil">
            <label class="label">
                <figure class="personal-figure">
                  <a class="nav-link text-white dropdown-toggle dropstart" href="#" id="dropTogle" role="button"
                      id="navbarDropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                      <img src="/img/user.jpg" class="personal-avatar" id="imgCli" alt="avatar">
                  </a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-xl-start dropdown-menu-dark"
                      aria-labelledby="navbarDropdownMenuLink">
                      <li><a class="dropdown-item text-center" id="userNome">Usuario</a></li>
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li>
                          <a class="dropdown-item" href="/user/editar/">Editar</a>
                      </li>
                      <!-- <li>
                          <a class="dropdown-item" href="/usuario/historico/">Historico de
                              Comp.</a>
                      </li> -->
                      <li>
                          <hr class="dropdown-divider">
                      </li>
                      <li><a class="dropdown-item" id="aUsuarios" href="/user/logout">Sair</a></li>
                  </ul>
                </figure>
            </label>
        </div>
        </div>
      </nav>
    </header>
    