<body>
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Admin</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <a class="nav-link px-3" href="/">Sair</a>
        </div>
      </div>
    </header>
    <div class="container-fluid">
        <div class="row">
          <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/admin">
                    <span data-feather="home"></span>
                    Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/reservas">
                    <span data-feather="file"></span>
                    Reservas
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/funcionarios">
                    <span data-feather="scissors"></span>
                    Barbers
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/usuarios">
                    <span data-feather="users"></span>
                    Usuarios/Clientes
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/admin/cortes">
                    <span data-feather="shopping-cart"></span>
                    Cortes
                  </a>
                </li>

                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                    <span data-feather="box"></span>
                    Customizar
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="dropDowCustomizar">
                    <li><a class="dropdown-item" href="/admin/empresa">Empresa</a></li>
                    <li><a class="dropdown-item" href="/admin/banners">Banners</a></li>
                    <li><a class="dropdown-item" href="/admin/postagens">Postagens</a></li>
                    <li><a class="dropdown-item" href="/admin/avisos">Avisos</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </nav>
    