<%-include ("./partials/head.ejs")%>
<%-include ("./partials/nav.ejs")%>
<main>
    <div class="container">
        <div class="justify-content-center text-center">
            <img src="/img/sucesso.png" class="img-fluid mt-5" height="200px" width="200px" alt="">
            <p class="fw-bolder fs-2 my-2 text-break">Agendamento realizado com sucesso!</p>
            <p class="fw-bolder fs-3 my-2 text-break">Fique atento ao horario. Acesse abaixo sua conta para acompanhar todos os agendamentos ja feito.</p>

            <a href="/user/reservas" class="btn btn-primary mt-5 rounded-pill btn-lg">Meus agendamentos</a>
        </div>
    </div>
</main>

<%-include ("./partials/scripts.ejs")%>
