.banner-image {
    text-align: center;
  }
  .banner-image input[type="file"] {
    display: none;
  }
 
  .banner-avatar {
    border: 2px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
  }
  .banner-avatar:hover {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
  }
  